body {
    font-family: Arial, sans-serif;
    background-color: #dadada;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.team-card {
    background-color: #ffffff;
    border-radius: 12px;
    width: 300px;
    padding: 20px;
    text-align: center;
}

a {
    color: #0066cc;
    text-decoration: none;
}

.komanda {
    background-color: #f0f2f5;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 1000px;
    font-family: Arial, sans-serif;
    margin: auto; 
}

th,
td {
    padding: 10px;
    padding-left: 20px;
}

.qora {
    background-color: black;
    color: white;
    text-align-last: left;
}


.title{
    width: 100%;
    margin: 0 30%;
}
.th1{
    background-color: #fff0f0;

}
.th2{
    background-color: white;
    color: black;
}
.th3{
    color: black;
    background-color: #fff0f0;
}
.Video{
margin-left: 325px;  
}
.input{
    background-color: #ffffff;
    border-radius: 12px;
    width: 500px;
    padding: 5px;
    margin-left: 325px;
}
.input2{
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid  #ebebeb;
    width: 498px;
}
.input3{
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid  #ebebeb;
    width: 472px;
    padding: 15px;
}
.button{
    background-color: #0066cc;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    color: #ebebeb;
    font-size: 20px;
}
.radio{
    width: 30px;
    height: 20px;
    margin-left: 525px;
}
.size{
    font-size: 20px
}
.button2{
    background-color: green;
    border-radius: 5px;
    color: #ebebeb;
    font-size: 20px;
    margin-left: 550px;
}